* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Helvetica, sans-serif;
}

body {
  margin: 1rem;
  text-align: center;
}

.ctrl {
  margin: 1em;
}

.ctrl-input {
  width: 100%;
  margin: .5rem;
}

.ctrl-color {
  width: 10%;
  margin: .5rem;
}
