.container-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.section-title {
  border-bottom: 1px var(--secondary-color) solid;
}

.form-align {
  align-items: flex-start;
}

.flex-grow-1 {
  flex-grow: 1;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-items-center {
  align-items: space-evenly;
}