.mode-grid {
  display: grid;
}

.mode-card {
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--primary-text);
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--secondary-text);
}

.mode-options {
  display: grid;
  grid-template-areas:
    "title title"
    "uniform individual"
    "delay delay"
    "fade fade"
  ;
  justify-content: center;
  align-items: center;
  gap: .2rem;
}

.mode-options > * {
  white-space: nowrap;
}

.mode-options > h2 {
  grid-area: title;
}

.mode-card:hover {
  transform: scale(1.01);
}

.mode-radio-option {
  border: 1px solid;
  border-radius: 10px;
  padding: 0 1rem;
}

.mode-list {
  display: grid;
  /* TODO: figure out how to do this properly */
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  column-gap: 3rem;
  row-gap: 1rem;
  max-width: 50rem;
  margin: 0 auto;
}

.update-button {
  margin-top: 1rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--secondary-text);
  border-radius: 10px;
  max-width: 400px;
  align-self: center;
  margin: 1rem auto;
}

.update-button:hover {
  transform: scale(1.01);
}